<div class="container mt-5" style="color: white">
  <h2>Sign up</h2>
  <hr>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <div class="d-flex gap-3">
        <div class="flex-fill">
          <%= f.input :first_name,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "first_name" }%>
        </div>
        <div class="flex-fill">
          <%= f.input :last_name,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "last_name" }%>
        </div>
      </div>
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" }%>
      <div class="d-flex gap-3">
        <div class="flex-grow-1">
          <%= f.input :address,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "address" }%>
        </div>
        <div>
          <%= f.input :city,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "city" }%>
        </div>
      </div>
      <div class="d-flex gap-3">
        <div class="flex-fill">
          <%= f.input :state,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "state" }%>
        </div>
        <div class="flex-fill">
          <%= f.input :zip,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "zip" }%>
        </div>
      </div>
      <div class="d-flex gap-3">
        <div class="flex-fill">
          <%= f.input :phone,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "phone" }%>
        </div>
        <div class="flex-fill">
          <%= f.input :photo, as: :file %>
        </div>
      </div>
      <div class="d-flex gap-3">
        <div class="flex-fill">
          <%= f.input :password,
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" } %>
        </div>
        <div class="flex-fill">
          <%= f.input :password_confirmation,
                      required: true,
                      input_html: { autocomplete: "new-password" } %>
        </div>
    </div>

    <div class="form-actions mb-4">
      <%= f.button :submit, "Sign up", class: "btn btn-success" %>
    </div>
  <% end %>

  <div class="d-flex gap-1">
    <%= render "devise/shared/links" %>
  </div>
</div>
