
<%= link_to item_path(item), class: "text-decoration-none card-item-text-colot-blk" do %>
  <div class="card-item-index">
    <div class="card-item-img">
      <%=cl_image_tag item.images[0].key %>
    </div>
    <div class="card-item-content">
      <div class="row-one">
        <h5 class="two-lines" ><%= item.name %></h5>
        <p>3km</p>
      </div>
      <div class="row-two">
        <p><%= item.description %></p>
      </div>
      <div class="row-tree">
        <div class="card-price">
          <p><%= item.price %>€</p>
        </div>
        <div class="card-item-q">
          <%= item.quantity %>
        </div>
        </div>
    </div>
  </div>
<%end%>
