<%# this is the search bar %>
<div class="search-bar">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <form action="/items" method="get">
          <div class="input-group">
            <input type="text" class="form-control" name="query" placeholder="Search for items">
            <div class="input-group-append">
              <button class="btn btn-primary" type="submit">Search</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  <%# this displays the search results %>
<% @items.each do |item| %>
  <p><%= item.name %>: <%= item.description %> - <%= item.price %></p>
<% end %>

  <%# thise are the list of items %>
  <div class="items-cards-array">

    <% @items.each do |item| %>
      <div class="mt-5 text-decoration-none">
        <%= render "shared/carditem", item: item %>
      </div>
    <%end%>
  </div>

  <%# this is a place holder for the maps %>
  <div class="item-card-map-location"   data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">

  </div>
</div>
