<%# this is the search bar %>
<div class="items-index-search">
  <nav class="navbar navbar-light bg-light">
    <%= form_with(url: items_path, method: "get") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search for items" %>
      <%= submit_tag "Search" %>
    <% end %>
  </nav>
</div>
<div class="card-and-map">
  <%# this displays the search results %>
<% @items.each do |item| %>
  <p><%= item.name %>: <%= item.description %> - <%= item.price %></p>
<% end %>

  <%# thise are the list of items %>
  <div class="items-cards-array">

    <% @items.each do |item| %>
      <div class="mt-5">
        <%= render "shared/carditem", item: item %>
      </div>
    <% end%>
  </div>

  <%# this is a place holder for the maps %>
  <div class="item-card-map-location">
  a
  </div>
</div>
