<div class="container mt-3 new-item-form">
  <h2>Post your items</h2>
  <% sentences = [
    "...and give a second life to your Construction material",
    "...and promote circular economy in your community",
    "...and reduce your carbon footprint"
  ] %>
  <h5><%= sentences.sample %></h5>
  <hr>
  <%= simple_form_for @item, data: { controller: "datepicker" } do |f| %>
    <%= f.input :name %>
    <%= f.input :location %>
    <div class="d-flex gap-3">
      <div class="flex-fill">
        <%= f.input :quantity %>
      </div>
      <div class="flex-fill">
        <%= f.input :price %>
      </div>
    </div>
    <%= f.input :condition %>
    <%= f.input :description %>
    <%= f.input :co2_emitions %>
    <div class="d-flex gap-3">
      <div class="flex-fill">
        <%= f.input :start_date,
          as: :string,
          input_html: {
            data: {
              datepicker_target: "startDate",
              action: "input->datepicker#updateEndDate"
            }
          } %>
      </div>
      <div class="flex-fill">
        <%= f.input :end_date,
          as: :string,
          input_html: {
            data: {
              datepicker_target: "endDate"
            }
          } %>
      </div>
    </div>
    <%= f.input :images, as: :file, input_html: { multiple: true } %>
    <%= f.button :submit, class: "btn btn-success" %>
  <% end %>
</div>
