<div class="container d-flex justify-content">
  <div class="card">
    <%= image_tag "item_placeholder.jpg", alt: "Card image", width: 700%>
    <div class="card-body">
      <div>
        <div class="card-title-condition">
          <h2 class="card-title"><%= @item.name %></h2>
          <p class="card-condition"><strong>Condition: </strong><%= @item.condition %></p>
        </div>
        <p class="card-description"><%= @item.description %></p>
        <h4><strong><%= @item.price %> €</strong></h4>
      </div>
      <div class="card-shipping-proposal">
        <p class="shipping-method">+ shipping methods</p>
        <div class="main-button">send proposal</div>
      </div>
    </div>
  </div>

  <div class="map m-3">
    <%= image_tag "map_placeholder.jpg", alt: "Map image", width: 500%>
  </div>
</div>

<h1>other items near you...</h1>
