<div class="outer m-3"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  <div class="container d-flex justify-content mt-3" >
    <div class="card">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= cl_image_tag @item.images[0].key, alt: "First slide", width: 700, class: "item-image" %>
          </div>
          <% @item.images[1..].each do |image| %>
            <div class="carousel-item">
              <%= cl_image_tag image.key, alt: "Other slides", width: 700, class: "item-image" %>
            </div>
          <% end %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <div class="card-body">
        <div>
          <div class="card-title-condition">
            <h2 class="card-title"><%= @item.name %></h2>
            <p class="card-condition"><strong>condition: </strong><%= @item.condition %></p>
          </div>
          <p class="card-description"><%= @item.description %></p>
          <p class="dates">available from <%= @item.start_date.strftime("%y %B %Y") %> to <%= @item.end_date.strftime("%y %B %Y") %></p>
          <p class="quantity"><strong>quantity:</strong> <%= @item.remaining_quantity %></p>
          <p><strong>distance:</strong> <span data-map-target="distance"></span></p>
          <h4 id="item-price" data-price="<%= @item.price%>" ><strong><%= sprintf("%.2f", @item.price) %> €</strong></h4>
        </div>
        <div class="card-shipping-proposal">
          <div></div>
          <%= link_to "send proposal", new_item_purchase_path(@item), data:{ map_target: "link" }, class:"main-button" %>
          <%# <div class="main-button">send proposal</div> %>
        </div>
      </div>
    </div>

  <div class="item-card-map-location" data-map-target="map">
  </div>
  </div>

  <h1 class="title">other items for you...</h1>

<div id="carouselExampleControls" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="d-flex" style="width: 100%; justify-content: center;">
          <% @items.first(4).each do |item| %>
            <%= link_to item_path(item) do %>
              <div class="card" style="width: 18rem;">
                <%= cl_image_tag item.images[0].key, alt: "Item image", width: 250, class: "card-image"%>
                <div class="carousel-card-body">
                  <h5 class="card-title"><%= item.name %></h5>
                  <p class="card-text"><%= item.description %></p>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="carousel-item">
        <div class="d-flex" style="width: 100%; justify-content: center;">
          <% @items.each_slice(4).each do |item| %>
            <% unless item.first.nil? %>
              <%= link_to item_path(item.first) do %>
                <div class="card" style="width: 18rem;">
                  <%= cl_image_tag item.first.images[0].key, alt: "Item image", width: 250, class: "card-image"%>
                  <div class="carousel-card-body">
                    <h5 class="card-title"><%= item.first.name %></h5>
                    <p class="card-text"><%= item.first.description %></p>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
