<div class="outer m-3">
  <div class="container d-flex justify-content">
    <div class="card">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= cl_image_tag @item.images[0].key, alt: "First slide", width: 700, class: "item-image" %>
          </div>
          <% @item.images[1..].each do |image| %>
            <div class="carousel-item">
              <%= cl_image_tag image.key, alt: "Other slides", width: 700 %>
            </div>
          <% end %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <div class="card-body">
        <div>
          <div class="card-title-condition">
            <h2 class="card-title"><%= @item.name %></h2>
            <p class="card-condition"><strong>condition: </strong><%= @item.condition %></p>
          </div>
          <p class="card-description"><%= @item.description %></p>
          <h4><strong><%= @item.price %> €</strong></h4>
        </div>
        <div class="card-shipping-proposal">
          <p class="shipping-method"><strong>available shipping methods: </strong>mail, self pick-up</p>
          <div class="main-button">send proposal</div>
        </div>
      </div>
    </div>

    <div class="map m-3">
      <%= image_tag "map_placeholder.jpg", alt: "Map image", width: 500%>
    </div>
  </div>

  <h1 class="title">other items near you...</h1>

<div id="carouselExampleControls" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="d-flex" style="width: 100%; justify-content: center;">
          <% @items.first(4).each do |item| %>
            <%= link_to item_path(@item) do %>
              <div class="card" style="width: 18rem;">
                <%= cl_image_tag item.images[0].key, alt: "Item image", width: 250, class: "card-image"%>
                <div class="card-body">
                  <h5 class="card-title"><%= item.name %></h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>

      <% @items.each_slice(4) do |items| %>
          <div class="carousel-item">
            <div class="d-flex" style="width: 100%; justify-content: center;">
            <% unless items[0].nil? %>
              <%= link_to item_path(@item) do %>
                <div class="card" style="width: 18rem;">
                  <%= cl_image_tag items[0].images[0].key, alt: "Item image", width: 250, class: "card-image"%>
                  <div class="card-body">
                    <h5 class="card-title"><%= @item.name %></h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                </div>
              <% end %>
            <% end %>

            <% unless items[1].nil? %>
              <%= link_to item_path(@item) do %>
                <div class="card" style="width: 18rem;">
                  <%= cl_image_tag items[1].images[0].key, alt: "Item image", width: 250, class: "card-image"%>
                  <div class="card-body">
                    <h5 class="card-title"><%= @item.name %></h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                </div>
              <% end %>
            <% end %>

            <% unless items[2].nil? %>
              <%= link_to item_path(@item) do %>
                <div class="card" style="width: 18rem;">
                  <%= cl_image_tag items[2].images[0].key, alt: "Item image", width: 250, class: "card-image"%>
                  <div class="card-body">
                    <h5 class="card-title"><%= @item.name %></h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                </div>
              <% end %>
            <% end %>

            <% unless items[3].nil? %>
              <%= link_to item_path(@item) do %>
                <div class="card" style="width: 18rem;">
                  <%= cl_image_tag items[3].images[0].key, alt: "Item image", width: 250, class: "card-image"%>
                  <div class="card-body">
                    <h5 class="card-title"><%= @item.name %></h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
