<!DOCTYPE html>
<html>
  <head>
    <title>Passbridge</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag "passbridge_icon.svg" %>


    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css' %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.2.0/mapbox-gl-directions.css" type="text/css">

  </head>

  <body>

  <%# add if statement to check if the current path is not the root path, then render the navbar not make it visible on the main page %>
  <% if request.path != "/" %>
    <%= render "shared/navbar"%>

  <%end%>
    <%= render "shared/flashes" %>

    <%= yield %>
    <% if request.path != "/" %>
    <%= render 'shared/footer' %>
  <%end%>
  <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.2.0/mapbox-gl-directions.js"></script>
  </body>
</html>
